@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Webkit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Set the background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #77757598; /* Set the color of the scrollbar thumb */
}
